@font-face {
    font-family: 'autumn';
    src: url('/styles/fonts/colors-of-autumn/colors_of_autumn-webfont.eot');
    src: url('/styles/fonts/colors-of-autumn/colors_of_autumn-webfont.eot?#iefix') format('embedded-opentype'),
    url('/styles/fonts/colors-of-autumn/colors_of_autumn-webfont.woff2') format('woff2'),
    url('/styles/fonts/colors-of-autumn/colors_of_autumn-webfont.woff') format('woff'),
    url('/styles/fonts/colors-of-autumn/colors_of_autumn-webfont.ttf') format('truetype'),
    url('/styles/fonts/colors-of-autumn/colors_of_autumn-webfont.svg#colors_of_autumnregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color:#0D2635;
}

#header{
    background:rgba(0,0,0,0.4);
    padding:10px;
    color:#777B7C;
    border-bottom:1px solid #030A0F;
    box-shadow:0px 0px 5px black;
    position:relative;
    display:none;
    z-index:100;
}

.logo-title{
    margin-top: 16px;
    margin-bottom: 9px;
}

.logo{
    display: table-cell;
    vertical-align: middle;
}

.title{
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
    font-size: 3em;
    font-style: italic;
    font-family: 'autumn';
}

.title .masters{
    color:#A23D97
}

.title .rift{
    color:#1FBDE2
}

.logo img{
    width:64px;
    height:64px;
    display:inline-block;
}

.header-secondary{
    display:inline-block;
    float:right;
}

.login-btn{
    margin-right:10px;
    margin-top: 7px;
    vertical-align: top;
}

.register-btn{
    opacity: 0.5;
    vertical-align: top;
    margin-top: 24px;
}

.background-music-control{
    height: 75px;
    opacity:0.3;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    opacity:0.2
}

.no-select{
    cursor:default;
}

#homepage{
    background: rgba(0,0,0,0.4);
    padding: 10px;
    color: #777B7C;
    border-bottom: 1px solid #030A0F;
    box-shadow: 0px 0px 5px black;
    position: relative;
    display:none;
}

#game{
    background: rgba(0,0,0,0.4);
    padding: 10px;
    color: #777B7C;
    border-bottom: 1px solid #030A0F;
    box-shadow: 0px 0px 5px black;
    position: relative;
    display:none;
}

#leaderboard{
    background: rgba(0,0,0,0.5);
    height: 600px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #607D8B;
}

#leaderboard h4{
    padding:5px;
    font-family: 'autumn';
}

.motr-pink{
    color:#A23D97;
}

.motr-blue{
    color:#1FBDE2
}

.faded{
    opacity:0.3;
}

.play-button{
    margin-right:15px;
    font-weight: bold;
    font-size: 2em;
    font-family: 'autumn';
    text-align: center;
}

.user-account-information h5{
    margin:0px;
}

.user-account-information{
    padding: 15px!important;
    margin: 0px;
    border: 1px solid #2A2A33;
    box-shadow: 1px 1px 5px black;
    background: rgba(0,0,0,0.6);
    border-radius: 8px;
}

.account-buttons{
    margin-top:15px;
}

.join-queue-button{
    margin-right:15px;
    font-weight: bold;
    font-size: 2em;
    font-family: 'autumn';
    text-align: center;
}

.timer-circle{
    display: inline-block;
    background: rgba(141, 55, 133,0.4);
    width: 200px;
    height: 200px;
    border-radius: 100px;
    box-shadow: inset 0px 0px 15px black;
}

.timer-segment{
    fill: #1FBDE2;
}

.timer-text{
    position: absolute;
    top: 25px;
    font-size: 7em;
    margin: auto;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 5px black;
}

.timer{
    display: inline-block;
    width: 210px;
    height: 210px;
    position: relative;
    border: 5px solid #A23D97;
    border-radius: 105px;
}

.timer-wrap{
    display: block;
    margin: auto;
    text-align: center;
}

.square{
    height: 96px;
    width: 96px;
    display: inline-block;
    vertical-align: top;
    background: rgba(0,0,0,0.3);
    border-radius: 8px;
    border:2px solid black;
    cursor:pointer;
    margin: 5px 10px 5px 0px;
    overflow:hidden;
}


.team-roster .active{
    border:2px solid yellow;
    -webkit-animation: yellow-pulsate 0.5s infinite alternate;
    -moz-animation: yellow-pulsate 0.5s infinite alternate;
    -animation: yellow-pulsate 0.5s infinite alternate;
}

.champion-ban{
    height: 96px;
    width: 96px;
    display: inline-block;
    vertical-align: top;
    background: rgba(0,0,0,0.3);
    border-radius: 8px;
    box-shadow: 0px 0px 10px red;
    margin: 5px 10px 5px 0px;
    overflow:hidden
}

.bans-wrapper .label{
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: bold;
}

.champions-wrapper .label{
    margin-bottom: 0px;
    font-weight: bold;
}

.player-info .label{
    margin-top: 0px;
    margin-bottom: 6px;
}

.square img{
    width:100%;
    cursor:pointer;
}

.player-info-wrapper{
    margin-top: 18px;
}

.champion-loading-img{
    width: 100%;
    max-width: 300px;
    display: inline-block;
    margin: auto;
    border-radius: 178px;
    border: 6px ridge yellow;
    box-shadow: 0px 0px 45px yellow;
    margin-top: 20px;
    -webkit-animation: yellow-pulsate 2s infinite alternate;
    -moz-animation: yellow-pulsate 2s infinite alternate;
    -animation: yellow-pulsate 2s infinite alternate;
}

.items-wrapper .icon{
    vertical-align: top;
    margin-top: 7px;
}

.selected-information-title{
    border-bottom: 4px solid;
    padding-bottom: 7px;
}

.items-wrapper-title{
    margin-bottom:5px;
}

.items-wrapper .square{
    width:64px;
    height:64px;
    cursor:default;
}

.items-wrapper .square img{
    cursor:default;
}

.selected-champion-stats .icon{
    vertical-align: top;
    margin-top: 7px;
}

.selected-champion-stats .stat-item .icon{
    vertical-align: top;
    margin-right: 6px;
}

.selected-champion-stats .small-icon{
    width: 32px;
    vertical-align: top;
    margin-top: 10px;
    margin-right: -6px;
}

.stat-item{

}

.stat-div{
    display:inline-block;
    width:100%;
}

.stat-title{
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: bold;
    font-style: italic;
}

.champion-stats-title {
    margin-bottom: 5px;
}

.trinket{
    border:5px ridge #1FBDE2;
}

.no-select{
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


.ap-damage{
    color:#3181FF;
}

.ad-damage{
    color:#C51C20;
}

.gold-stat{
    color:#F9CD23;
}

.selected-information-title .icon{
    padding: 5px;
    background: rgba(0,0,0,0.4);
    vertical-align: top;
    margin-top: 4px;
    margin-right: 10px;
    border-radius: 5px;
}

.match-answers{
    position: fixed;
    top: 0px;
    left: 0;
    bottom:0;
    background: rgba(0,0,0,0.8);
    box-shadow: 0px 0px 5px #1FBDE2;
    border-radius: 0px;
}

.match-answers.expanded{
    width:300px;
}

.match-answers.closed{
    width:0px;
}

.match-answers .view-toggler{
    background: #26A69A;
    height: 200px;
    border-radius: 5px 0px 0px 5px;
}


.champion-ban img{
    width:100%;
}

.question .square{
    width: 40px;
    height: 40px;
    margin-right: 2px;
    overflow: hidden;
    border-radius: 5px;
}

.question{
    display: inline-block;
    margin-bottom: -5px;
    border-bottom: 2px solid;
    padding-bottom: 10px!important;
}
.question .champions-wrapper{
    padding:0px;
    margin-top: -10px;
}

.question .champions-wrapper p{
    margin-top:5px;
    margin-bottom:0px;
}

.question-text{
    margin-bottom: 5px;
}

.question .champions-wrapper > p {
    margin-bottom: -7px;
}

.team-chooser .choice{
    margin-right:5px;
}

.team-chooser .selected{
    box-shadow: 0px 0px 25px yellow;
}

.match-answers{
    z-index: 99999;
}


.match-answers .question:last-child{
    border-bottom:none;
    padding-bottom:20px;
}

.question .selected{
    border: 2px solid yellow!important;
}

.question .btn {
    border: 2px solid black;
}

.no-answer {
    color: red;
    margin: 0px;
}

.match-answers .play-button{
    margin: auto;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
}

.checkbox img {
    width: 32px;
    border-radius: 5px;
}

.checkbox {
    margin-right: 8px;
    display: inline-block;
    line-height: 0px;
    margin-bottom: 10px;
}

.opponent-answers p{
    margin-bottom:4px;
}

.none-selected{
    margin-top: 120px;
}

.items-wrapper .stat-item .icon {
    vertical-align: top;
    margin-right: 6px;
}

.items-wrapper .stat-div{
    margin-top: 15px;
}

.blue-team .team-wrapper{
    background: rgba(30, 136, 229,0.3);
    padding-bottom: 15px;
    border-radius: 10px;
}

.red-team .team-wrapper{
    background: rgba(229, 57, 53,0.3);
    padding-bottom: 15px;
    border-radius: 10px;
}

.team-wrapper h3{
    font-weight: bold;
    font-size: 3em;
}

.disclaimer{
    margin-top:10px;
    display: inline-block;
    text-align: center;
    opacity:0.6;
    font-style: italic;
}

.firsts .icon{
    width:32px;
    height:32px;
    margin-top:2px!important;
}

.share{
    margin-top: 5px;
}

.share-title{
    font-weight: bold;
    margin-bottom: 3px;
    border-bottom: 2px solid;
}

.end-match-display{
    display:none;
}

.question-answer .icon{
    width: 60px;
    vertical-align: top;
    margin-top: -4px;
}

.question-answer{
    font-size: 2.2em;
    border: 2px solid #A23D97;
    background: rgba(31, 189, 226,0.34);
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
    padding: 10px;
    padding-top: 14px;
    color: white;
    display:none;
}

.question-answer .red{
    text-align: center;
    padding: 5px;
}

.question-answer .blue{
    text-align: center;
    padding: 5px;
}

/*

Animation Stuff

*/

@-webkit-keyframes yellow-pulsate {
    from { box-shadow: 0 0 10px yellow; }
    to { box-shadow: 0 0 45px yellow; }
}
@-moz-keyframes yellow-pulsate {
    from { box-shadow: 0 0 10px yellow; }
    to { box-shadow: 0 0 45px yellow; }
}
@keyframes yellow-pulsate {
    from { box-shadow: 0 0 10px yellow; }
    to { box-shadow: 0 0 45px yellow; }
}