@font-face {
    font-family: 'autumn';
    src: url('/styles/fonts/colors-of-autumn/colors_of_autumn-webfont.eot');
    src: url('/styles/fonts/colors-of-autumn/colors_of_autumn-webfont.eot?#iefix') format('embedded-opentype'),
    url('/styles/fonts/colors-of-autumn/colors_of_autumn-webfont.woff2') format('woff2'),
    url('/styles/fonts/colors-of-autumn/colors_of_autumn-webfont.woff') format('woff'),
    url('/styles/fonts/colors-of-autumn/colors_of_autumn-webfont.ttf') format('truetype'),
    url('/styles/fonts/colors-of-autumn/colors_of_autumn-webfont.svg#colors_of_autumnregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color:#0D2635;
}

#header{
    background:rgba(0,0,0,0.4);
    padding:10px;
    color:#777B7C;
    border-bottom:1px solid #030A0F;
    box-shadow:0px 0px 5px black;
    position:relative;
    display:none;
    z-index:100;
}

.logo-title{
    margin-top: 16px;
    margin-bottom: 9px;
}

.logo{
    display: table-cell;
    vertical-align: middle;
}

.title{
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
    font-size: 3em;
    font-style: italic;
    font-family: 'autumn';
}

.title .masters{
    color:#A23D97
}

.title .rift{
    color:#1FBDE2
}

.logo img{
    width:64px;
    height:64px;
    display:inline-block;
}

.header-secondary{
    display:inline-block;
    float:right;
}

.login-btn{
    margin-right:10px;
    margin-top: 7px;
    vertical-align: top;
}

.register-btn{
    opacity: 0.5;
    vertical-align: top;
    margin-top: 24px;
}

.background-music-control{
    height: 75px;
    opacity:0.3;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    opacity:0.2
}

.no-select{
    cursor:default;
}

#homepage{
    background: rgba(0,0,0,0.4);
    padding: 10px;
    color: #777B7C;
    border-bottom: 1px solid #030A0F;
    box-shadow: 0px 0px 5px black;
    position: relative;
    display:none;
}

#game{
    background: rgba(0,0,0,0.4);
    padding: 10px;
    color: #777B7C;
    border-bottom: 1px solid #030A0F;
    box-shadow: 0px 0px 5px black;
    position: relative;
    display:none;
}

#leaderboard{
    background: rgba(0,0,0,0.5);
    height: 600px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #607D8B;
}

#leaderboard h4{
    padding:5px;
    font-family: 'autumn';
}

.motr-pink{
    color:#A23D97;
}

.motr-blue{
    color:#1FBDE2
}

.faded{
    opacity:0.3;
}

.play-button{
    margin-right:15px;
    font-weight: bold;
    font-size: 2em;
    font-family: 'autumn';
    text-align: center;
}

.user-account-information h5{
    margin:0px;
}

.user-account-information{
    padding: 15px!important;
    margin: 0px;
    border: 1px solid #2A2A33;
    box-shadow: 1px 1px 5px black;
    background: rgba(0,0,0,0.6);
    border-radius: 8px;
}

.account-buttons{
    margin-top:15px;
}

.join-queue-button{
    margin-right:15px;
    font-weight: bold;
    font-size: 2em;
    font-family: 'autumn';
    text-align: center;
}

.timer-circle{
    display: inline-block;
    background: rgba(141, 55, 133,0.4);
    width: 200px;
    height: 200px;
    border-radius: 100px;
    box-shadow: inset 0px 0px 15px black;
}

.timer-segment{
    fill: #1FBDE2;
}

.timer-text{
    position: absolute;
    top: 25px;
    font-size: 7em;
    margin: auto;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 5px black;
}

.timer{
    display: inline-block;
    width: 210px;
    height: 210px;
    position: relative;
    border: 5px solid #A23D97;
    border-radius: 105px;
}

.timer-wrap{
    display: block;
    margin: auto;
    text-align: center;
}

.square{
    height: 96px;
    width: 96px;
    display: inline-block;
    vertical-align: top;
    background: rgba(0,0,0,0.3);
    border-radius: 8px;
    border:2px solid black;
    cursor:pointer;
    margin: 5px 10px 5px 0px;
    overflow:hidden;
}


.team-roster .active{
    border:2px solid yellow;
}

.champion-ban{
    height: 96px;
    width: 96px;
    display: inline-block;
    vertical-align: top;
    background: rgba(0,0,0,0.3);
    border-radius: 8px;
    box-shadow: 0px 0px 5px red;
    margin: 5px 10px 5px 0px;
}

.bans-wrapper .label{
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: bold;
}

.champions-wrapper .label{
    margin-bottom: 0px;
    font-weight: bold;
}

.player-info .label{
    margin-top: 0px;
    margin-bottom: 6px;
}

.square img{
    width:100%;
    cursor:pointer;
}